---
import { Image } from 'astro:assets';
import type { ImageMetadata } from 'astro';

interface Props {
  title: string;
  subtitle: string;
  image: ImageMetadata;
  viewMoreLink: string;
  imageAlt?: string;
  imageClasses?: string;
  containerClasses?: string;
  isRightSide?: boolean;
}

const { 
  title, 
  subtitle, 
  image, 
  viewMoreLink,
  imageAlt = "",
  imageClasses = "size-full object-cover object-top",
  containerClasses = "@container relative min-h-120 w-full grow max-lg:mx-auto max-lg:max-w-sm",
  isRightSide = false
} = Astro.props;
---

<div class="relative lg:row-span-2">
  <div class={`absolute inset-px rounded-lg bg-white ${isRightSide ? 'max-lg:rounded-b-4xl lg:rounded-r-4xl' : 'lg:rounded-l-4xl'}`}>
  </div>
  <div
    class={`relative flex h-full flex-col overflow-hidden rounded-[calc(var(--radius-lg)+1px)] ${isRightSide ? 'max-lg:rounded-b-[calc(2rem+1px)] lg:rounded-r-[calc(2rem+1px)]' : 'lg:rounded-l-[calc(2rem+1px)]'}`}
  >
    <div class="px-8 pt-8 pb-3 sm:px-10 sm:pt-10 sm:pb-0">
      <p
        class="mt-2 text-lg font-medium tracking-tight text-gray-950 max-lg:text-center"
      >
        {title}
      </p>
      <p
        class="mt-2 max-w-lg text-sm/6 text-gray-600 max-lg:text-center"
      >
        {subtitle}
      </p>

      <a
        href={viewMoreLink}
        class="bg-black text-white font-semibold px-6 py-2 my-6 rounded hover:bg-gray-800 transition block mx-auto text-center"
      >
        View More
      </a>
    </div>
      <div class="relative min-h-120 w-full grow">
        <div
          class="absolute top-10 right-0 bottom-0 overflow-hidden bg-gray-900 shadow-2xl outline outline-white/10"
        >
          <Image
            src={image}
            alt={imageAlt}
            class={imageClasses}
          />
        </div>
      </div>
  </div>
  <div
    class={`pointer-events-none absolute inset-px rounded-lg shadow-sm outline outline-black/5 ${isRightSide ? 'max-lg:rounded-b-4xl lg:rounded-r-4xl' : 'lg:rounded-l-4xl'}`}
  >
  </div>
</div> 